.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-title{
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-keyboard-ctn{
  width: 980px;
  display: block;
}

/* change some ui kit defaults */
.uk-button{
  text-transform: initial !important;
}
.uk-button-default:focus, .uk-button-default:hover{
  background: #ececec !important;
}
.uk-form-label{
  color: white;
}

.siteBySite{

  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.buttonHeight{
  height: 40px;
}

.buttonMargin{
  margin-top: 4px;
}

.smallBrTop{
  margin-top: 15px;
}
.smallBrBot{
  margin-bottom: 15px;
}

.smallerText{
  font-size: 25px;
}