.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-title{
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-keyboard-ctn{
  width: 980px;
  display: block;
}

/* change some ui kit defaults */
.uk-button{
  text-transform: initial !important;
}
.uk-button-default:focus, .uk-button-default:hover{
  background: #ececec !important;
}
.uk-form-label{
  color: white;
}

/* general styles */
img.refer {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

/* play/pause button */
.control-3 {
  /* ausrichten */
  margin-top: 20px;
  margin-left: 0;

  /* no touch */
  position: relative;
  display: inline;
}

.control-3 .play-pause {
  position: relative;
  width: 100px;
  height: 100px;
  background: #2d2f3b;
  border-radius: 100%;
  box-shadow: 5px -2px 1px -3px rgba(255,255,255,0.35),
              0 0 4px 3px rgba(0,0,0,0.7),
              6px -1px 0px -2px rgba(0,0,0,0.3),
              0 0 12px rgba(5,212,244,0.7);
}

.control-3 .play-pause::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  display: inline-block;;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;

  z-index: 0;
  border: 10px solid #05d4f4;
  transform: rotate(0deg);
}

.play-pause .button {
  position: absolute;
  width: 74px;
  height: 74px;
  display: inline-block;
  background: #312f3a;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  margin-top: -37px;
  margin-left: -37px;
  z-index: 10;
  overflow: hidden;
  text-align: center;
  line-height: 74px;
  font-size: 18px;
  color: #05d4f4;

  box-shadow: inset 0 0 85px rgba(0,0,0,0.2),
              inset 0 4px 4px -2px rgba(255,255,255,0.4),
              inset 0 -12px 10px -5px rgba(0,0,0,0.4),
              0 0 2px 5px rgba(0,0,0,0.4),
              8px 20px 15px rgba(0,0,0,0.7),
              0px 20px 7px rgba(0,0,0,0.5);
}

.play-pause .button img {
  position: absolute;
  left: 0;
  margin-left: -100px;
  width: 300%;
  height: 300%;
  opacity: 0.3;
  z-index: 1;
}

.play-pause .slash {
  font-weight: 900;
}

.play-pause i {
  position: relative;
  text-shadow: 0px 0 10px rgba(5,212,244,0.7);
  z-index: 2;
}
