@import url("https://fonts.googleapis.com/css?family=Lato|Nunito:700&display=swap");
html, body, .App, #root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.App {
  --background: #F7F5EE;
  --background-soft: #F7F5EE;
  --border: #dcdcdc;
  --color: #333;
  --shadow: #ddd;
  --primary: #ff295e;
  --secondary: #eb811c;

  background: var(--background);
  color: var(--color);
  padding-top: 5vmin;
  transition: 0.4s ease;
  text-align: center; }

  .App.dark {
    --background: #2A2A2A;
    --background-soft: #2A2A2A;
    --border: #120f17;
    --color: #cccccc;
    --primary: #826AFF;
    --secondary: #95C5EF;
    --shadow: #F2F2F2; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(16px + 0.5vw);
  justify-content: center;
  position: relative;
  width: 100%;
}

.App-container {
  align-items: center;
  background: var(--background);
  border-radius: 25px;
  box-shadow: 0 0 15px -5px hsla(0, 0%, 0%, 0.4),
    0 1px 5px -4px hsla(0, 0%, 0%, 1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 280px;
  padding: 50px;
  position: relative;
  width: 100%;
}

/* circle */
.App-background {
  background: linear-gradient(45deg, #10181e, #EB811C) 0 0/100% 100% no-repeat;
  border-radius: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  max-width: 80%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 50vmax;
  z-index: 0; }

  /* force 1:1 aspect ratio */
  .App-background::before,
  .App-background::after {
    content: '';
    display: table;
    padding-bottom: 100%;
    width: 100%;
  }

  /* alternative theme color */
  .App-background::before {
    background: linear-gradient(45deg, #938068, #1B1813) 0 0/100% 100% no-repeat;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
  }

  .dark .App-background::before {
    opacity: 1;
  }

/* control buttons underneath the keyboard */
.App-controls {
  display: flex;
  margin: 0.5em 0 0;
  justify-content: center; }

  .App-controls-button {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    height: 30px;
    margin: 0 7px;
    padding: 0;
    width: 30px; }

    .App-controls-button:hover {
      color: var(--primary); }

    .App-controls-button i {
      font-size: 1.25em; }

.App-theme-button {
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
  height: 30px; }

  .App-theme-button:hover {
      color: var(--primary); }

.App-section {
  background: var(--background-soft);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  margin: 0 -20px;
  padding: 20px;
}

.App-link {
  color: var(--primary);
}

.app-title{
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  margin: 0 0 20px;
  text-transform: lowercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-keyboard-ctn{
  width: 100%;
}

/* change some ui kit defaults */
.uk-button{
  text-transform: initial !important;
}
.uk-form-label{
  color: var(--background);
}

/* completely override uk button styles */
.uk-button {
  background: linear-gradient(to bottom, var(--background) 5%, var(--background-soft) 100%);
  border: 1px solid var(--border);
  border-radius: 42px;
  color: inherit;
  outline: 0;
  padding: 0 24px;
  transition: none;
  white-space: nowrap; }
  .uk-button:hover, .uk-button:focus {
    background: linear-gradient(to top, var(--background) 5%, var(--background-soft) 100%);
    color: inherit; }

.uk-checkbox:checked,
.uk-radio:checked,
.uk-checkbox:indeterminate {
  background-color: var(--primary) !important;
}

.uk-checkbox:hover, .uk-checkbox:focus,
.uk-radio:hover, .uk-radio:focus {
  border-color: var(--primary) !important;
}

.siteBySite{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.buttonHeight{
  height: 40px;
}

.buttonMargin{
  margin-top: 4px;
}

.smallBrTop{
  margin-top: 15px;
}
.smallBrBot{
  margin-bottom: 15px;
}

.smallerText{
  font-size: 25px;
}

label {
  font-size: 14px;
}
