.service-list {
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
    float: left;
    display: inline-block;
}


.service-list p {
    text-align: right;
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

.apreggioSelectWindow{
    position: absolute;
    z-index: 3;
}
.apreggioSelectWindow.SettingsWindow{
    max-width: 200px;
    padding-top: 60px;
}
.arpeggioImgSelected{
    width: 50%;
    height: 18%;
    object-fit:scale-down;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 15%;
    border: 1px solid #000000;
    background: #999999;
    margin: 10%;
}

.arpeggioImgNotSelected{
    width: 50%;
    height: 18%;
    object-fit:scale-down;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 15%;
    border: 1px solid #000000;
    background: #ffffff;
    margin: 10%;
}

.arpeggioImg{
    width: 50%;
    height: 15%;
    object-fit:scale-down;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 10%;
    border: 1px solid #000000;
    background: #ffffff;
    margin: 10%;
}

.selectArpeggio{
    object-fit:scale-down;
    display: block;
    position: relative;
    margin-right: 0.5em;
}
