.service-list {
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
    float: left;
    display: inline-block;
}


.service-list p {
    text-align: right;
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

.apreggioSelectWindow{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    z-index: 3;

    background: #232534;
    border-radius: 10px;
    border: 5px solid #000000;
}
.X{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: #232534;
    border: 0;
    color: #ffffff;
    font-size: 20px;
}
.arpeggioImgSelected{
    width: 50%;
    height: 18%;
    object-fit:scale-down;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 15%;
    border: 1px solid #000000;
    background: #999999;
    margin: 10%;
}

.arpeggioImgNotSelected{
    width: 50%;
    height: 18%;
    object-fit:scale-down;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 15%;
    border: 1px solid #000000;
    background: #ffffff;
    margin: 10%;
}

.arpeggioImg{
    width: 50%;
    height: 15%;
    object-fit:scale-down;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 10%;
    border: 1px solid #000000;
    background: #ffffff;
    margin: 10%;
}

.selectArpeggio{
    width: 150px;
    height: 40px;
    object-fit:scale-down;
    display: block;
    position: relative;

    margin: 6px;
    background: #1E88F0;
}
