
.selectField{
    height: 200px;
    width: 1000px;
    display: block;
    background: #232534;
    border-radius: 20px;
}

.selectButton{
    height: 75%;
    width: 20%;
    display: block;
    background: #ffffff;
    border-radius: 5px;
    float: left;
    margin: 2.5%;
    font-size: 25px;
}

.selectButton.not-edited{
    opacity: 0.3;
}

.selectButton.highlight{
    background: #bbbec1 !important;
}

.selectWindow{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 335px;
    z-index: 3;

    background: #232534;
    border-radius: 10px;
    border: 5px solid #000000;
}

.X{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: #232534;
    border: 0;
    color: #ffffff;
    font-size: 20px;
}

.chordButton{
    height: 75%;
    width: 20%;
    display: block;
    background: #ffffff;
    border-radius: 5px;
    float: left;
    margin: 2.5%;
    font-size: 25px;
}

.chordButton.selected{
    background: #bbbec1 !important;
}
