:root {
    /* Anzahl Weiße Tasten */
    --key-size: calc(95% / 14);
}

.piano-key{
    color: grey;
    background-color: white;
    filter: drop-shadow(0 3px 2px #0000002C);
    border-radius: 2px;
    transition: background-color .2s ease-out;
    margin-right: 2px;
    float: left;
    width: var(--key-size);
    height: 140px;
    font-size: 15px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.key-black{
    background-color: black;
    margin-left: -2%;
    margin-right: -2%;
    width: 4%;
    z-index: 2;
    position: relative;
    height: 80px;
}

.key-black:hover{
    background-color: #404040 !important;
}
.key-black.highlighted{
    background-color: #868686 !important;
}

.piano-key:hover{
    background-color: #e9ecef;
}

.piano-key.highlighted{
    background-color: #bbbec1;
}


.piano{
    width: 1000px;
    display: block;
}
