:root {
    /* Anzahl Weiße Tasten */
    --key-size: calc(100% / 14);
}


.piano{
    display: flex;
    flex-flow: row nowrap;
    max-width: 980px;
    height: 50px;
    width: 100%;

}

    .piano-key{
        align-items: flex-end;
        background-color: white;
        border-radius: 2px;
        color: grey;
        display: flex;
        box-shadow: 0 4px 8px rgba(0,0,0,0.12),
            0 1px 2px rgba(0,0,0,0.2);
        font-size: 10px;
        line-height: 1;
        justify-content: center;
        margin-right: 2px;
        padding: 2px;
        text-align: center;
        transition: background-color .2s ease-out;
        width: var(--key-size);
        user-select: none; }

        .piano-key::after {
            content: '';
            display: table;
            padding-bottom: 300%;
            width: 100%; }

        .piano-key:hover{
            background-color: #e9ecef; }

        .piano-key.highlighted{
            background-color: #bbbec1; }

        .piano-key-content {
            writing-mode: vertical-lr; }

.key-black{
    align-items: center;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 50%;
    margin-left: -2%;
    margin-right: -2%;
    position: relative;
    width: 4%;
    z-index: 2; }

    .key-black:hover{
        background-color: #404040 !important; }

    .key-black.highlighted{
        background-color: #868686 !important; }
