.octave-label{
    display: inline-block;
    padding: 0px 20px;
}
.octave-selector{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: left;
}
.octave-selector .uk-disabled{
    opacity: 0.4;
}
.small-arrow-btn{
    line-height: 22px;
    padding: 0 15px;
    font-size: 0.85rem;
}
