.progressbar{
    position: relative;
    height: 15px;
    width: 200px;
    border-radius: 50px;
    background: #61dafb;
    border: 2px solid #1e87f0;
}
.filler{
    position: relative;
    height: 15px;
    border-radius: 50px;
    background: #1e87f0;
}