.progressbar{
    position: relative;
    height: 15px;
    width: 300px;
    /*
    border-radius: 50px;
    background: #61dafb;
    border: 2px solid #1e87f0;
    */
}

.progressbar label{
    padding-top: 20px;
    display: block;
}

.filler{
    position: relative;
    height: 15px;
    border-radius: 50px;
    background: #1e87f0;
}

.slider{
    position: absolute;
    top: 6px;
    left: 0;
}