.SettingsWindow{
    background: var(--background);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2),
        0 2px 5px rgba(0,0,0,0.2),
        0 0 100vmax 100vmax rgba(0,0,0,0.5);
    left: 50%;
    max-width: 500px;
    padding: 20px 30px 40px;
    position: fixed;
    right: 0;
    text-align: left;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 900;
}

.SettingsWindow .uk-text-center {
    margin-top: 0;
}

.X {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}

.settings-btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }

    .settings-btn:hover {
        color: var(--primary); }

.setting-titel1{
    font-size: 20px;
    position: center;
}

.react-switch{
    float: right;
    margin-top: 7px;
}